<div class="confirm" style="margin-left: 0; width: 650px; margin-top: -10px;">Edits must be saved before previewing. Clicking preview will abandon your current edits.</div>
<h1>Editing: {Title}</h1>
<div class="para">
Everyone is invited to edit pages on our website, but only moderators can apply edits to the original pages.
Feel free to use the editor below to contribute new information or modify the original content.
Your edits will persist until the moderators review your edits and merge changes.
</div>
<div class="para">
At anytime you can alter or withdraw your changes using the edit or delete functions above.
</div>
<h3>Title</h3>
<input id="wikititle" value="{Title}">
<h3 style="display: inline-block; width: 700px;">Content</h3>
<a id="wrapToggle" onclick="return toggleWrap()">line wrap: on</a>
<textarea id="wikieditor">{EscapedContent}</textarea>