<ul id="editor">
	<li id="edit" alt="Edit this page"><a onclick="return clickEdit()">Edit this page</a></li>
	<li id="editing" class="hidden" alt="Resume editing this page"><a onclick="return clickEdit()">Edit</a></li>
	<li id="original" class="hidden" alt="View the original page"><a onclick="return clickOriginal()">Original</a></li>
	<li id="preview" class="hidden" alt="Preview your edits"><a onclick="return clickPreview()">Preview</a></li>
	<li id="delete" class="hidden" alt="Delete your edits"><a onclick="return clickDelete()">Delete</a></li>
</ul>
