<div class="cache row">
	<span>{Stamp}</span>
	<span>{HandlerType.Name}</span>
	<span>{QueryString}</span>
	<span>{Value.Length}</span>
	<span>{Agent}</span>
	<span>{Address}</span>
	<span>{Rewrites}</span>
	<span>{Reuses}</span>
</div>
