html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;	
	font-weight: 400;	
	color: black;
	background: 
		url(//cache.getlazarus.org/images/top.png) 50% 0 repeat-x,
		url(//cache.getlazarus.org/images/bottom.png) 50% 0 repeat;
}

a {
	cursor: pointer;
	color: #e26004;
	text-decoration: none;
	border-bottom: 2px dotted transparent;
	font-weight: 500;
	transition: border-bottom .2s ease-out;
}

a:hover {
	border-bottom: 2px dotted #e26004;
	transition: border-bottom .2s ease-out;
}

#breadcrumb a {
	opacity: 0.7;
	transition: opacity .3s ease-out;
}


#breadcrumb a:hover {
	opacity: 1;
	transition: opacity .3s ease-out;
}

#editor li {
	opacity: 0.7;
	transition: opacity .3s ease-out;
}

#editor li:hover {
	opacity: 1;
}

#download {
	position: absolute;
	cursor: pointer;
	left: 640px;
	top: 33px;
	width: 138px;
	height: 35px;
	background: url(//cache.getlazarus.org/images/download.png) 0 0 no-repeat;
	opacity: 0.75;
	transition: opacity .3s ease-out;
}

#download:hover {
	opacity: 1;
	transition: opacity .3s ease-out;
}


ul {
	list-style-type: none;
	padding: 0;
	padding-left: 10px;
}

#breadcrumb {
	height: 33px;
}

#breadcrumb>a {
	background: url(//cache.getlazarus.org/images/path.png) 100% 0 no-repeat;
	display: inline-block;
	float: left;
	font-weight: 400;
	font-size: 15px;
	color: white;
	line-height: 33px;
	font-style: normal;
	border-bottom: 0;
	padding-right: 30px;
	margin-left: -6px;
	opacity: 0.75;
}

#breadcrumb>a:hover {
	border-bottom: none;
}

#breadcrumb>a:last-child {
	font-weight: 400;
}

#breadcrumb>a:first-child {
	padding-left: 28px;
	background: url(//cache.getlazarus.org/images/home.png) 0 4px no-repeat,    url(//cache.getlazarus.org/images/path.png) 100% 0 no-repeat;
}

#box {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 0;
	width: 1000px;
	min-height: 100%;
	padding: 0;
	visibility: hidden;
}

#clouds {
	position: absolute;
	margin: 0;
	top: 68px;
	left: 0;
	width: 1000px;
	height: 279px;
}

#clouds.static {
    position: relative;
    background: url(//cache.getlazarus.org/images/lazarus-curve.png);
    z-index: 9;
    margin-top: -1px;
    pointer-events: none;
    /* background: url(//cache.getlazarus.org/images/clouds.gif); */
}

#wrapper {
	position: absolute;
	margin: 0;
	top: -1px;
	left: 0;
	width: 100%;
	min-height: 100%;
	/* background: url(//cache.getlazarus.org/images/page.png) 0 68px no-repeat; */
}

#page {
	height: auto;
	min-height: 100%;
	width: 1000px;
	margin-bottom: 170px;
	padding-left: 10px;
}

#content {
	margin: 10px;
	margin-right: 30px;
}

blockquote {
	clear: both;
	border-left: 4px solid rgba(224, 121, 2, 1);
	padding-left: 8px;
	margin-left: 5px;
	margin-right: 5px;
	background: linear-gradient(to right, #D6D6D6 0%, rgba(255, 255, 255, 0) 100%);
}

h1 {
	font-size: 26px;
	font-weight: 700;
	line-height: 30px;
	margin: 0;
	margin-top: 5px;
	margin-bottom: 5px;
	background: url(//cache.getlazarus.org/images/bar.png) 0 95% no-repeat;
}

h2 {
	font-size: 22px;
	line-height: 28px;
	font-weight: 700;
	margin: 0;
	margin-top: 15px;
	margin-bottom: 10px;
	background: url(//cache.getlazarus.org/images/bar.png) 0 95% no-repeat;
}

h3 {
	font-size: 16px;
	line-height: 26px;
	font-weight: 700;
	margin: 0;
	margin-top: 14px;
	margin-bottom: 5px;
	background: url(//cache.getlazarus.org/images/bar.png) 0 90% no-repeat;
}

h4 {
	display: inline;
	margin-right: 0.5em;
	font-size: 15px;
	font-weight: 700;
}

p {
	margin: 0;
	margin-bottom: 1em;
}

.code {
	font-family: 'Inconsolata';
	font-style: normal;
}

code {
	font-family: 'Inconsolata';
	background: lightgrey;
	padding-left: 5px;
	padding-right: 5px;
}

a.extern {
	background: url(//cache.getlazarus.org/images/extern.png)  100% 2px no-repeat;	 
	padding-right: 15px;
}

.para {
	margin-bottom: 1em;
}

.leftout {
	color: #323232;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	float: left;
	clear: left;
	margin: 20px;
	margin-left: 0;
	display: inline-block;
	width: auto;
	max-width: 250px;
	padding: 5px;
	padding-left: 10px;
	font-weight: 500;
	font-style: italic;
	box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.2);}

.rightout {
	color: #323232;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	float: right;
	clear: right;
	margin: 10px;
	display: inline-block;
	width: auto;
	max-width: 250px;
	padding: 5px;
	padding-left: 10px;
	font-weight: 500;
	font-style: italic;
	box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.2);
}	

div.syntaxhighlighter {
	font-family: 'Inconsolata' !important;
	margin-top: 1em !important;
	margin-bottom: 1em !important;
	font-family: 'Inconsolata' !important;
	border: 2px dotted #BABABA !important;
}

div.syntaxhighlighter a:hover {
	border: none !important;
}

a.fancybox, a.fancybox:hover {
	padding: 4px;
	border: 1px solid rgb(179, 179, 179);
	background: white;
	overflow: auto;
	display: inline-block;
	margin:  4px;
	box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.2);
}

.fancybox-overlay a:hover {
	border: none;
}

h1 a, h2 a, h3 a, h4 a {
	color: black;
	border: none;
	padding-left: 18px;
	margin-left: -18px;
	font-style: normal;
	font-weight: 700;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover {
	border: none;
	background: url(//cache.getlazarus.org/images/link.png) 0 50% no-repeat;
}

.my-custom-theme {
	border-radius: 5px; 
	border: 2px solid #000;
	background: #4c4c4c;
	color: #fff;
}

.my-custom-theme .tooltipster-content {
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 16px;
	padding: 8px 10px;
}


blockquote.notes {
	padding: 7px;
	display: inline-block;
	min-width: 50%;
	margin-top: 0;
	padding-right: 10px;
}

blockquote.notes>div {
	font-weight: 700;
}

blockquote.notes>ul {
	padding-left: 20px;
	list-style-type: square;
	margin: 0;
	margin-top: 5px;
	margin-bottom: 5px;
}

pre.terminal {
	font-family: 'Inconsolata';
    font-weight: 700;
    background: #777777;
    color: white;
    border: 1px dotted #FFFFFF;
    padding: 8px;
	text-shadow: 1px 1px #424242;
}

pre.terminal strong {
	color: #6FF16F;
}

.gallery {
  height: 110px;
  overflow: auto;
  overflow-y: visible;
  padding-top: 14px;
}

.gallery a {
  margin-top: 4px;
  padding-top: 8px;
}

.showcase a {
  margin-top: 8px;
}

.showcase.big {
	height: 450px;
}

#footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 1000px;
	height: 150px;
	margin-top: -170px;
	background-color: rgba(224, 121, 2, 1);
	background-image: url(//cache.getlazarus.org/images/footer_shadow.png);
	background-repeat: repeat-x;
}

.footLink {
	opacity: 0.5;
	transition: opacity .2s ease-out;
}

.footLink:hover {
	opacity: 1;
	transition: opacity .2s ease-out;
}

#footer>div {
	float: left;
	width: 33%;
	height: 100%;
}

#footer>div:nth-child(2) {
	background: rgba(0, 0, 0, 0.05);
	width: 34%;
}

#footer>div div {
	background: rgba(0, 0, 0, 0.2);
	margin: 5px;
	margin-top: 10px;
	margin-bottom: -7px;
	padding: 5px;
	padding-left: 13px;
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	font-weight:  700;
	color: white;
	text-shadow: 1px 1px black;
	font-size: 17px;
	opacity: 0.7;
}

#footer>div a {
	color: white;
	margin-left: 24px;
	font-size: 15px;
	line-height: 20px;
	font-style: normal;
}

#footer>div a:hover {
	border-bottom: none;
}

.listing tr td:first-child {
	background: rgba(0, 0, 0, 0.04);
	width: 150px;
	border-left: 3px solid rgb(224, 121, 2);
	padding: 8px;
	vertical-align: top;
}

.listing tr td:last-child {
	background: rgba(0, 0, 0, 0.08);
	padding: 8px;
	border-radius: 10px;
}

.fancybox-close {
	border: none;
}

#dialogContent .subtitle {
	text-align: center;
	margin: 8px;
}

.snip {
	display: inline;
	font-family: 'Inconsolata';
	font-weight: 600;
	border: 2px dotted #BABABA;
	background: white;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 5px;
	margin-right: 5px;
	color: #383838;
}

#videoSpacer {
	width: 800px;
	height: 20px;
}

#videoCaption {
	width: 100%;
	height: 63px;
	background: url(//cache.getlazarus.org/images/player-captions.png) 0 100% repeat-x;
	background-color: #fef2c1;
	border: 1px solid rgb(223, 221, 197);
	border-radius: 6px;
	position: relative;
	clear: both;
}

#videoTitle {
	font-weight: 700;
	font-size: 18px;
	position: absolute;
	padding: 4px;
	padding-left: 26px;
	padding-right: 8px;
	top: -16px;
	left: 8px;
	border: 1px solid rgb(208, 207, 193);
	background: url(//cache.getlazarus.org/images/player-captions.png) 0 50% repeat-x;
	border-radius: 6px;
}

#videoCaption img {
	position: absolute;
	top: -26px;
	left: -15px;
}

#videoMessage {
	margin: 15px;
	margin-top: 25px;
}

#videoScrubber {
	width: 100%;
	position: relative;
}

#videoControl {
	float: left;
	width: 20px;
	height: 20px;
	margin-right: 5px;
	cursor: pointer;
	background: url(//cache.getlazarus.org/images/player-controls.png);
}

#videoSeek {
	float: left;
	width: 880px;
	height: 10px;
	background: #943D00;
	border-radius: 5px;
	margin-top: 5px;
	overflow: hidden;
}

#videoCursor {
	height: 10px;
	width: 0;
	background: #fc6800;
}

#videoRefresh {
	float: left;
	width: 20px;
	height: 20px;
	cursor: pointer;
	background: url(//cache.getlazarus.org/images/player-refresh.png);
}

#videoTime {
	float: right;
	line-height: 20px;
}

.deb, .zip {
    margin: 1em;
    background: #FFFFFF;
    height:  48px;
    border-radius: 4px;
    border: 1px solid transparent;
    overflow: hidden;
    display: inline-block;
	transition: border .4s ease-out;
}

.deb:hover, .zip:hover {
    border: 1px solid #C45A10;
	transition: border .4s ease-out;
}

#downloadLink {
    color:  white;
    display: block;
	background-color: #D2D2D2;
    background-repeat: no-repeat
}

.deb #downloadLink {
    background-image: url(//cache.getlazarus.org/images/deb-package.png);
}

.zip #downloadLink {
    background-image: url(//cache.getlazarus.org/images/package-generic-icon.png);
}

#downloadLink #downloadName  {
    font-family: 'Open Sans';
    line-height: 51px;
    margin-left: 48px;
    padding-right: 2em;
    border-left: 1px solid #DA7A37;
    text-indent: 14px;
    font-weight: 600;
    font-size: 12pt;
    font-style: normal !important;
    text-shadow: 2px 1px rgba(0, 0, 0, 0.4);
    background: linear-gradient(to bottom, #FFBC24 0%, #CE9245 30%, #C45A10 70%);
}

ul.dots {
	list-style-type: disc;
	margin-left: 2em;
}

#galleryBlock {
    background-image: url(//cache.getlazarus.org/images/overhang.png);
    background-repeat: repeat-x;
    background-color: #D4D4D4;
    margin: -20px;
    margin-top: 0px;
    padding-bottom: 20px;
    padding-top: 10px;
    margin-bottom: 0;
    position: relative;
    top: 20px;
}    

img.icon {
	display: block; 
	width: 64px; 
	height: 64px;
}

span.icon {
	margin-left: 72px; 
	margin-top: -68px; 
	display: block;
}

pre#wrapped {
	white-space: pre-wrap; 
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

.vodbox {
	position: relative;
	overflow: hidden;
	border: 1px solid #E07902;
	width: 800px;
	height: 450px;
}

.vodbox .title {
    color: white;
    background: rgba(50, 45, 40, 0.8);
    text-shadow: 2px 2px black;
    line-height: 30px;
    font-size: 16px;
    font-family: 'Open Sans';
    position: absolute;
    z-index: 9;
	left: 0;
	top: 0;
	width: 100%;
	height: 30px;
    pointer-events: none;
    margin-top: -30px;
	transition: margin-top .2s ease-out;
}

.vodbox:hover .title {
    margin-top: 0;
	transition: margin-top .2s ease-out;
}


.vod {
	position: absolute;
    z-index: 8;
	left: 0;
	top: 0;
	width: 800px;
	height: 450px;
	cursor: pointer;
	opacity: 0.75;
	transition: opacity .2s ease-out;
}

.vod:hover {
	opacity: 1;
	transition: opacity .2s ease-out;
}

.vodPlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 800px;
	height: 450px;
}

/* main banner */

#bannerContainer.main {
	position: absolute;
	display: block;
	width: 1000px;
	height: 280px;
	left: 0;
	top: 76px;	
	overflow: hidden;
}

#bannerContainer.main #bannerScroll {
	display: block;
	width: 10000px;
	height: 280px;
}

#bannerContainer.main #bannerScroll .bannerPage {
	position: relative;
	width: 1000px;
	height: 280px;
	float: left;
}

#bannerContainer.main #bannerScroll .linkBubble {
    color: rgba(255, 255, 255, 0.75);
    cursor: pointer;
    width: 310px;
    height:  100px;
    border-radius: 10px;
    position: absolute;
    top: 162px;
    left: 20px;
    text-indent: 20px;
	transition: color .2s ease-out;
	box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.75);
}

#bannerContainer.main #bannerScroll .linkBubble:hover {
    color: rgba(255, 255, 255, 1);
	transition: color .2s ease-out;
}

#bannerContainer #bannerDots {
	position: absolute;
	bottom: 10px;
	right: 10px;
	height: 16px;
	width: 300px;
}

#bannerContainer #bannerDots .dotButton {
	float: right;
	margin-left: 4px;
	cursor: pointer;
	border: 2px solid white;
	width: 14px;
	height: 14px;
	border-radius: 8px;
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
	background-color: rgba(0, 0, 0, 0.2);
	transition: background-color .3s ease-out;
}

#bannerContainer #bannerDots .dotButton:hover {
	background-color: rgba(255, 255, 255, 0.75);
	transition: background-color .3s ease-out;
}

#bannerContainer #bannerDots .dotButton.selected {
	cursor: default;
	background-color: white;
	transition: background-color .3s ease-out;
}

#bannerContainer.main #bannerScroll .linkBubble .bubbleIcon {
	display: block; 
	width: 64px; height: 64px;
	margin-left:  8px;
	margin-top: 20px;
}

#bannerContainer.main #bannerScroll .linkBubble .bubbleTitle {
	display: block;
	font-size: 20px;
	font-weight: 500;
	margin-top: -62px;
	margin-left: 65px;
}

#bannerContainer.main #bannerScroll .linkBubble .bubbleText {
	display: block;
	font-size: 28px;
	font-weight: 600;
	margin-left: 62px;
	margin-top: 4px;
}

/* secondary banner */

#bannerContainer.secondary {
    clear: both;
    position: relative;	
    margin: 0;
	display: block;
	width: 1000px;
	height: 212px;
	overflow: hidden;
    margin-left: -20px;
    top: -5px;
}

#bannerContainer.secondary #bannerScroll {
	display: block;
	width: 10000px;
	height: 212px;
}

#bannerContainer.secondary #bannerScroll .bannerPage {
	position: relative;
	width: 1000px;
	height: 212px;
	float: left;
}

/* mini banner */

#bannerContainer.mini {
	clear: both;
    position: relative;
    margin: 0;
    display: block;
    width: 1000px;
    height: 212px;
    overflow: hidden;
    margin-left: -20px;
    top: -170px;
    margin-bottom: -170px;
}

#bannerContainer.mini #bannerScroll {
	display: block;
	width: 10000px;
	height: 212px;
}

#bannerContainer.mini #bannerScroll .bannerPage {
	position: relative;
	width: 1000px;
	height: 212px;
	float: left;
}

.gallery a, .showcase a {
	border: 1px solid #505050;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;

}

.gallery a:hover, .showcase a:hover {
	border: 1px solid #888888;
	transform: scale(1.15);
	padding-top: 8px;
}

.bullet { 
	list-style-type: square; 
	font-size: 16px; 
	margin-left: 2em; 
}

.bullet ul  { 
	list-style-type: circle;
	padding-left: 25px;
}

.hierarchy {
	margin-bottom: 1em;
}

.hierarchy span {
	margin-right: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
	background: #ffff97;
	border-radius: 4px;
	border: 1px solid #d0ca00;
	color: gray;
}

.hierarchy span:last-child {
	font-weight: bolder;
	color: black;
}

.vjs-resolution-button .vjs-menu-icon:before {
  content: '\f110';
  font-family: VideoJS;
  font-weight: normal;
  font-style: normal;
  font-size: 1.8em;
  line-height: 1.67em;
}

.vjs-resolution-button .vjs-resolution-button-label {
  font-size: 1em;
  line-height: 3em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  box-sizing: inherit;
}

.vjs-resolution-button .vjs-menu .vjs-menu-content {
  width: 4em;
  left: 50%; /* Center the menu, in it's parent */
  margin-left: -2em; /* half of width, to center */
}

.vjs-resolution-button .vjs-menu li {
  text-transform: none;
  font-size: 1em;
}

.guide {
    cursor: pointer;
    color: #e26004;
    text-decoration: none;
    border-bottom: 2px dotted #e26004;
    font-weight: 500;
}

#overview-gutter {
	position: absolute;
    background: white;
    left: 50%;
    top: 0;
    font-family: monospace;
    font-size: 4px;
    margin-left: -700px;
    white-space: pre;
    padding: 6px;
    border-radius: 8px;
    margin-top: 6px;
}

.tip-line {
	margin-left: 12px;
	font-family: monospace;
}

.syntaxhighlighter .line .content .block.guide-line {
	background: #ffbc4154 !important;
}
